---
# file: roles/common/tasks/main.yml
- name: packages install
  apt: name={{item}} state=present
  with_items:
    - openssh-client
    - ntpdate
    - ntp
    - sysv-rc-conf

- name: ntp setting
  template: src=ntp.conf.j2 dest=/etc/ntp.conf
  notify:
    - restart ntp

- name: ntp start
  service: name=ntp state=started enabled=yes

- name: generate hosts files
  lineinfile: dest=/etc/hosts regexp='^{{item}}.*' line="{{item}} {{hostvars[item].ansible_fqdn}} {{hostvars[item].ansible_hostname}}" state=present
  when: hostvars[item].ansible_fqdn is defined
  with_items: groups['all']

